.shop-container{
display: grid;
grid-template-columns: 4fr 1fr;
}
.product-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 0 10px;
}
.card-container{
background-color: orange;
padding: 28px 44px;
}
